.checkCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 1px solid $secondary;
    border-radius: 50%;
    background-color: $primary;
    &.active:after{
        content: '';
        width: 14px;
        height: 14px;
        background-color: $secondary;
        border-radius: 50%;
    }
    &.stay{
        border: 1px solid $success;
    }
    &.pass{
        color: $primary;
        background-color: $secondary;
        font-size: 16px;
    }
}
.checkLine{
    &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $success;
    }
}
